---
import Head from "../components/eventually/Head.astro";
import Header from "../components/eventually/Header.astro";
import Footer from "../components/eventually/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="is-preload">
    <Header />
    <main style="margin-bottom: 3rem;">
      <div>
        <button
		  style="font-size: larger;"
          onclick="window.location.href='https://ghgdataexplorerph.streamlit.app'"
          >Welcome and Explore</button
        >
      </div>
      <div style="margin-top: 30px;">
        <button
          style="background-color: rgba(248, 168, 39, 0.938); font-size: small;"
          onclick="window.location.href='https://ghgdataexplorerph.streamlit.app/Visual_Experiment'"
          >Unlock Insights</button
        >
        <button
          style="background-color: rgba(248, 168, 39, 0.938); font-size: small;"
          onclick="window.location.href='https://ghgdataexplorerph.streamlit.app/Issue'"
          >Know the Issue</button
        >
      </div>
    </main>
    <footer id="footer">
      <Footer />
    </footer>
    <script src="../scripts/eventually/main.js"></script>
    <script src="../scripts/eventually/taglines.js"></script>
    <script>
      addEventListener("load", () => {
        if ("serviceWorker" in navigator) {
          navigator.serviceWorker
            .register("/sw.js")
            .then(() => console.log("Service Worker Registered"))
            .catch((err) =>
              console.error("Service Worker Registration Failed", err)
            );
        }
      });
    </script>
  </body>
</html>
