---
import Head from "../components/eventually/Head.astro";
import Header from "../components/eventually/Header.astro";
import Footer from "../components/eventually/Footer.astro";
import LinksTable from "../components/eventually/LinksTable.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="is-preload layout">
    <Header />
    <main class="main-content">
      <LinksTable />
      <footer id="footer">
        <Footer />
      </footer>
    </main>

    <script src="../scripts/main.js"></script>
    <script src="../scripts/taglines.js"></script>
  </body>
</html>
