<ul class="icons">
  <li>
    <a href="https://ghgdataexplorerph.streamlit.app/" class="icon brands fa-twitter"
      ><span class="label">Twitter</span></a>
  </li>
  <li>
    <a href="https://ghgdataexplorerph.streamlit.app/" class="icon brands fa-instagram"
      ><span class="label">Instagram</span></a>
  </li>
  <li>
    <a href="https://ghgdataexplorerph.streamlit.app/" class="icon brands fa-github"
      ><span class="label">GitHub</span></a>
  </li>
  <li>
    <a href="https://ghgdataexplorerph.streamlit.app/" class="icon fa-envelope"><span class="label">Email</span></a>
  </li>
</ul>
<ul class="copyright">
  <li>&copy;<a href="https://github.com/imperionite/ghg"> GHG Data Explorer PH by Arnel Imperial</a></li>
  </li>
</ul>