<ul class="icons">
  <li>
    <a
      href="https://ghgdataexplorerph.streamlit.app/"
      class="icon brands fa-twitter"><span class="label">Twitter</span></a
    >
  </li>
  <li>
    <a
      href="https://ghgdataexplorerph.streamlit.app/"
      class="icon brands fa-instagram"><span class="label">Instagram</span></a
    >
  </li>
  <li>
    <a
      href="https://ghgdataexplorerph.streamlit.app/"
      class="icon brands fa-github"><span class="label">GitHub</span></a
    >
  </li>
  <li>
    <a href="https://ghgdataexplorerph.streamlit.app/" class="icon fa-envelope"
      ><span class="label">Email</span></a
    >
  </li>
</ul>
<ul class="copyright">
  <li>
    © 2025<a
      href="https://github.com/imperionite/ilmanala"
      target="_blank"
      rel="noopener noreferrer"
    >
      GHG Data Explorer PH
    </a>by<a
      href="https://github.com/imperionite"
      target="_blank"
      rel="noopener noreferrer"
    >
      Arnel Imperial</a
    >. Built with ❤️ using <a
      href="https://www.r-project.org/about.html"
      target="_blank"
      rel="noopener noreferrer">R</a
    >,<a
      href="https://docs.python.org/3/faq/general.html#what-is-python"
      target="_blank"
      rel="noopener noreferrer"
    >
      Python</a
    >, Firebase and Streamlit
  </li>
</ul>
