---
import { SITE_TITLE } from "../../consts";
---

<header id="header">
  <div class="hero-content">
    <h1>{SITE_TITLE}</h1>
    <p class="tagline fade-in" id="tagline">
      See the Emissions. Shape the Future.
    </p>
  </div>
</header>
